Satisfy any
Order Deny,Allow
Allow from 172.17.0.0/16
Allow from 212.227.35.64/27
Allow from 212.227.34.190
Deny from all
RemoveType .html .gif
AuthType Basic
AuthName "Access for /logs" 
AuthUserFile /kunden/homepages/38/d65761404/htpasswd
require user p33675770
